{%- extends "basic/layout.html" %}

{%- block extrahead -%}
<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,300italic,400italic,600italic|Source+Code+Pro' rel='stylesheet' type='text/css'>
{%- endblock -%}

{% block relbar2 %}
    {% if theme_github_fork %}
        <a class="fork" href="http://github.com/{{ theme_github_fork }}">
            <img alt="Fork me on Github" src="{{ pathto('_static/github-ribbon.png', 1) }}" width="149" height="149">
        </a>
    {% elif theme_bitbucket_fork %}
        <a class="fork" href="https://bitbucket.org/{{ theme_bitbucket_fork }}">
            <img alt="Fork me on Bitbucket" src="{{ pathto('_static/bitbucket-ribbon.png', 1) }}" width="150" height="150" />
        </a>
    {% endif %}
{% endblock %}

{% block header %}
    {{ super() }}
    {% if pagename == 'index' %}
        <div class="indexwrapper">
    {% endif %}
{% endblock %}

{%- block footer %}
    {{ super() }}
    {% if pagename == 'index' %}
        </div>
    {% endif %}
{%- endblock %}

{%- block sidebartoc %}
    <h3><a href="{{ pathto(master_doc) }}">{{ _('Table Of Contents') }}</a></h3>
    {{ toctree() }}
{%- endblock %}



{%- block rootrellink %}
{%- endblock %}
